/__pycache__
**/__pycache__

/instance

**.pyc

*.http

# Compiled frontend assets
app/static/js/bundle.js
app/static/css/output.css
app/static/**/*.map

# Optional: ignore entire build/output dirs
app/static/js/dist/
app/static/css/dist/

# Environment files
.env

# VS Code config
.vscode/

# Python virtual environments
venv/
.venv/

# SQLite / local databases
*.sqlite3
*.db

# Migrations (optional if you regenerate)
migrations/__pycache__/
migrations/*.pyc

# Node modules
node_modules/